.topContainer {
  width: 100%;
  height: 100%;
  min-height: 700px;
  padding-top: 80px;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-top: 100px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--black);
  color: white;
  padding: 2rem 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.125rem 4rem;
  }

  @media (min-width: 1024px) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.timings {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    flex-direction: column;
    width: 17%;
    padding: 2.5rem 0;
    background-color: rgba(218, 47, 104, 0.1);
    border-radius: 0.5rem;
    position: sticky;
    top: 0rem;
    height: max-content;
  }

  .heading {
    display: none;

    @media (min-width: 768px) {
      display: block;
      font-size: 1.125rem;
      font-weight: 600;
      padding-left: 1.5rem;
    }
  }

  .timeSlots {
    display: flex;
    gap: 1rem;
    padding: 0 0.5rem;

    @media (min-width: 768px) {
      flex-direction: column;
      margin-top: 1.25rem;
      padding-left: 1.5rem;
    }

    .timeSlot {
      padding: 0.4rem 1rem;
      background-color: rgba(218, 47, 104, 0.2);
      border-radius: 9999px;
      font-size: 0.75rem;
      white-space: nowrap;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 70px;
      height: 30px;
      gap: 0.5rem;

      @media (min-width: 768px) {
        width: max-content;
        justify-content: space-around;
        padding: 1.3rem 1rem;
      }

      &:hover {
        background-color: rgba(218, 47, 104, 0.3);
      }

      &.selected {
        background-color: var(--pink);
        color: white;
      }

      .icon {
        display: none;

        @media (min-width: 768px) {
          display: inline;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.seats {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    width: 70%;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .seatarea {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 2rem;

    .seat-scroll-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 700px;

      @media (min-width: 768px) {
        min-width: 800px;
      }

      .screen-image {
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 500px;
        height: auto;
      }
    }

    .frontrows {
      margin-bottom: 20px;
    }

    .frontrows,
    .nextrows {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      align-items: center;
    }

    .rows {
      display: flex;
      justify-content: center;
      margin-bottom: 1px;
    }

    .seatcontainer {
      margin: 2px 19px;
    }

    .seatrow {
      display: flex;
      justify-content: center;
      gap: 1px;

      .singleSeat {
        width: 20px;
        height: 20px;
        font-size: 0;
        text-align: center;
        border-radius: 0.25rem;
        border: 1px solid rgba(218, 47, 104, 0.6);
        background-color: transparent;
        color: white;
        transition: all 0.2s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px;

        @media (min-width: 768px) {
          width: 35px;
          height: 35px;
          font-size: 0.7rem;
        }

        &:hover {
          background-color: rgba(218, 47, 104, 0.1);
        }

        &.primary {
          background-color: var(--pink);
          color: white;
          border-color: var(--pink);
        }

        &.occupied {
          opacity: 0.33;
        }
      }
    }
  }

  .btn {
    width: 80%;
    max-width: 300px;
    margin: 40px auto 0 auto;
    background-color: var(--pink);
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: #c9275c;
    }

    &:active {
      transform: scale(0.9);
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}

.blur-circle1,
.blur-circle2 {
  position: absolute;
  z-index: 0;
  width: 19.5rem;
  height: 19.5rem;
  border-radius: 9999px;
  background-color: #c9275da4;
  filter: blur(130px);
  pointer-events: none;
}

.blur-circle1 {
  top: 40px;
  left: 190px;
}

.blur-circle2 {
  bottom: 80px;
  right: 20px;
}
