.carouselSection {
  position: relative;
  margin-bottom: 100px;

  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .carouselTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
  }

  .blur-circle1,
  .blur-circle2,
  .blur-circle3 {
    position: absolute;
    z-index: 0;
    border-radius: 9999px;
    background-color: #c9275da4;
    filter: blur(120px);
    pointer-events: none;
  }

  .blur-circle1 {
    width: 18.5rem;
    height: 18.5rem;
    top: 190px;
    left: 1200px;
  }

  .blur-circle2 {
    width: 19.5rem;
    height: 19.5rem;
    top: 190px;
    left: 20px;
  }

  .blur-circle3 {
    width: 18.5rem;
    height: 18.5rem;
    top: 0px;
    left: 20px;
  }

  @media screen and (max-width: 1024px) {
    .blur-circle1,
    .blur-circle2,
    .blur-circle3 {
      display: none;
    }
  }
}
